<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>548111005188-pdm3c3edkavocrdbrp903gpap3hh862f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.548111005188-pdm3c3edkavocrdbrp903gpap3hh862f</string>
	<key>API_KEY</key>
	<string>AIzaSyC1ZHJ1XVK1JDE_0jQeMw5VADNsVV5PM_s</string>
	<key>GCM_SENDER_ID</key>
	<string>548111005188</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.tobi.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios13-11bcc</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios13-11bcc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:548111005188:ios:3db224e4ca0752acc7a751</string>
</dict>
</plist>